<div class="page-root">
  <router-outlet></router-outlet>
</div>

<!-- 
<main class="main">
  <div class="content">
    <h1>Welcome to the Todo App!</h1>
    <div class="divider"></div>
    <p>Get started by adding your first todo.</p>

    <router-outlet></router-outlet>

    <a routerLink="/todos" class="pill">
      Go to Todos
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
        <path d="M8 0L0 4v8l8 4 8-4V4L8 0zM7.5 1.5l5.5 2.75v6.5L8 14l-5-2.25V4.25L7.5 1.5zM6 3v2h4V3H6zm1 3v6h2V6H7z"></path>
      </svg>
    </a>
  </div>
</main> -->
