<header class="bg-blue-600 text-white py-4 shadow">
  <div class="container mx-auto flex justify-between items-center px-4">
    <h1 class="text-2xl font-bold">Todo App Ultimate</h1>
    @if (isReady()) {
      <nav>
        @if (isAuthenticated()) {
          <a href="/" class="mr-4 hover:underline">Home</a>
        }

        <a href="/todos" class="mr-4 hover:underline">Shared Todos</a>
  
        @if (isAuthenticated()) {
          <a (click)="logout()" href="javascript:void(0)" class="mr-4 hover:underline">Logout</a>
        } @else {
          <a href="/auth/login" class="mr-4 hover:underline">Login</a>
          <a href="/auth/register" class="hover:underline">Register</a>
        }
      </nav>
    } @else {
      <p class="text-md">Loading...</p>
    }
  </div>
</header>